.electricity-input {
  width: 33%;
}

.form-group {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column.unit {
  width: 25%;
  margin-left: 1rem;
}

.column.align-start {
  align-self: flex-start;
}

.mb-2 {
  margin-bottom: 2rem;
}
